<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487582065012-6go5i3p7tn6l980dom5ivr3p7l3kjk4t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487582065012-6go5i3p7tn6l980dom5ivr3p7l3kjk4t</string>
	<key>API_KEY</key>
	<string>AIzaSyBfduCQqdTxDWmIrsLnSxBd2KTyIdd3bsk</string>
	<key>GCM_SENDER_ID</key>
	<string>487582065012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myDietDiary</string>
	<key>PROJECT_ID</key>
	<string>mydietdiarydb</string>
	<key>STORAGE_BUCKET</key>
	<string>mydietdiarydb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487582065012:ios:c4d9d3a3ca9de51d9acc21</string>
	<key>DATABASE_URL</key>
	<string>https://mydietdiarydb-default-rtdb.firebaseio.com</string>
</dict>
</plist>